@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*
header {
    background-images: url('gallery/header_pic.jpg');
    height: 20rem;
    width: 100%;
    margin-top: 0;
    position: fixed;
    background-position: 50%;
}

h1.thicker{
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
    background-color: rgba(255, 255, 255, 44%);
    color: rgba(210, 113, 58, 1);
    font-size: 4em;
}
*/
body{
    background-image: url('gallery/wood_wp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 100%;
    height: 100%;*/
}

header {
    background-image: url('gallery/header_pic.jpg');
    width: 100%;
    position: fixed;
    background-position: 50%;
}

#login {
    background: rgba(255, 255, 255, 0.3);

}
